################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/BibliotecaAPI/CopilotIndices/17.14.1231.31060/CodeChunks.db-shm
/.vs/BibliotecaAPI/CopilotIndices/17.14.1231.31060
/.vs/BibliotecaAPI/FileContentIndex/595417c6-8be2-4c3f-8afc-af84217b0bda.vsidx
/.vs/BibliotecaAPI/FileContentIndex/6f5917e6-79ab-49e6-8ba4-afe9031ecca5.vsidx
/.vs/BibliotecaAPI/FileContentIndex/d8fa9ef2-5977-46a5-8524-8154bf520c1e.vsidx
/.vs/BibliotecaAPI/FileContentIndex/e55b7b7d-d4e1-4d4a-9584-2f00075f1aa5.vsidx
/.vs/BibliotecaAPI/FileContentIndex/f8527b05-a79c-4d03-a361-0974fc7909ca.vsidx
